{:paths ["src"]

 :deps
 {;; -- Build --
  org.clojure/clojure       {:mvn/version "1.11.1"}
  org.clojure/clojurescript {:mvn/version "1.11.60"}}

 :aliases
 {;; For updating Clojure dependencies
  :outdated  {:replace-deps {olical/depot        {:mvn/version "2.3.0"}
                             org.slf4j/slf4j-nop {:mvn/version "1.7.32"}}
              :main-opts
              ["-m" "depot.outdated.main"]}
  ;; Build minimized
  :prod      {:extra-deps  {com.bhauman/figwheel-main {:mvn/version "0.2.18"}}
              :main-opts
              ["-m" "figwheel.main"
               "--optimizations" "advanced"
               "--compile-opts" "webapp.cljs.edn"
               "--compile" "spider.main"]}
  ;; Launch an interactive REPL build
  :dev       {:extra-deps  {com.bhauman/figwheel-main {:mvn/version "0.2.18"}
                            org.slf4j/slf4j-nop       {:mvn/version "2.0.2"}}
              :extra-paths ["test" "target" "resources"]
              :main-opts
              ["-m" "figwheel.main" "--build" "webapp" "--repl"]}
  ;; Run the tests
  :test-clj  {:extra-deps  {lambdaisland/kaocha {:mvn/version "1.71.1119"}}
              :extra-paths ["test"]
              :main-opts
              ["-m" "kaocha.runner"]}
  :test-cljs {:extra-deps  {com.bhauman/figwheel-main {:mvn/version "0.2.18"}
                            org.slf4j/slf4j-nop       {:mvn/version "2.0.2"}}
              :extra-paths ["test" "target"]
              :main-opts
              ["-m" "figwheel.main"
               "--compile-opts" "test.cljs.edn"
               "-fwo" "{:launch-js [\"firefox\" \"-headless\" :open-url] :ring-server-options {:port 9501}}"
               "-m" "spider.test-runner"]}
  ;; Serve the minimized build locally
  :serve     {:extra-deps  {com.bhauman/figwheel-main {:mvn/version "0.2.18"}
                            org.slf4j/slf4j-nop       {:mvn/version "2.0.3"}}
              :extra-paths ["target"]
              :main-opts
              ["-m" "figwheel.main"
               "--optimizations" "advanced"
               "--build" "webapp" "--serve"]}}}
